<div class="container m-5">
  <div class="row m-3">
    <div class="btn-group mx-auto" role="group">
      <button id="btnGroupCategory" type="button" class="btn btn-light btn-lg dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        類別
      </button>
      <div class="dropdown-menu" aria-labelledby="btnGroupCategory">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>
  </div>
  <div class="row m-3 align-items-center justify-content-center" style="background-color: #e1eef6;">
    <h5 class=" col-4">總金額:</h5>
    <h1 class="col-6 p-3" style="color:#ff5f2e">{{totalAmount}}</h1>
  </div>
  <div class="row m-3">
    <div class="container">
      {{#each records}}
      <div class="row align-items-center justify-content-between">
        <div class="col-2 align-self-center text-center">
          <i class="{{this.categoryIcon}}" style="font-size:30px; color:#fcbe32"></i>
        </div>
        <div class="col align-self-center ml-auto">
          <div class="pt-1">{{this.name}}</div>
          <a class="text-muted" style="font-size: smaller;">{{this.date}}</a>
        </div>
        <div class="col-3 align-self-center text-right">{{this.amount}}</div>
        <div class="col-3 align-self-center text-center">
          <button type="button" onclick="location.href='./records/{{ this._id }}/edit'" class="far fa-edit"
            style="border: none; font-size:25px; background: transparent; color:gray;" value=""></button>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submmit" onclick="return deleteCheck()" class="far fa-trash-alt"
              style="border: none; font-size:25px; background: transparent; color:gray;" value=""></button>
          </form>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <div class="row mt-5 align-items-center justify-content-center">
    <form action="/creat" method="GET">
      <button>新增支出</button>
    </form>
  </div>
</div>